html {
    scroll-behavior: smooth;
    background-color: 
    #0d47a1
}
#first_name1 {
    font-size: 5vh;
    height: 100px;
    

}
.background {
    height: 100vh;
    width: 100vw;
    background-color: pink;
}

.a {
    font-weight: bold;
}

.LockOn {
    display: block;
    visibility: visible;
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 105%;
    height: 105%;
    background-color:white;
    vertical-align:bottom;
    padding-top: 20%; 
    filter: alpha(opacity=75); 
    opacity: 0.75; 
    font-size:large;
    color:blue;
    font-style:italic;
    font-weight:400;
    background-image: url("https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}